# Web & API
fastapi
uvicorn
python-dotenv
httpx
websockets
python-socketio[client]

# AI & LLM
openai
chromadb
sentence-transformers
TTS
ruaccent

# Audio & Media
soundfile
pygame
pydub
yt-dlp

# Twitch & Integration
twitchAPI
duckduckgo-search
pygetwindow
mss
opencv-python
Pillow

# Misc
networkx
nest_asyncio
numpy
